.Chldex{
    flex: 4;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ChldexButton{
    width: 200px;
    border: none;
    background-color: #683aa4;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
  